
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Courier New', Courier, monospace;
}

iframe.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Float four columns side by side 
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding 
.row {margin: 0 -5px;}*/

/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 500px;

}*/

/*.card-img-top {
  width: 20%;
  height: 50vw;
  object-fit: cover;
}*/

