ul{
    list-style-type: none;
    display: flex;
}
.navbar-custom {
    background-color: rgb(39, 57, 54);
}
.nav-link{
    color:white;
}
.navbar-brand{
    color:white;
}
.row{
    display: flex;
    justify-content: space-between ;
}
.carousel-item, .carousel-item>img{
    width: 500px;
    height: 500px;
}
